<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lucas Oliveira Andrade</title>
  <link rel="stylesheet" href="css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS externo -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/5.5.0/css/foundation.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">




</head>

<body>
  <main id="app" data-equalizer>
    <section id="left-side" class="large-4 medium-5 small-12 left" data-equalizer-watch>
      <section class="hexagon-container">
        <figure class="hexagon hexagon-image">
          <div class="inner">
            <img class="profile-picture" src="img/me6.jpg" alt="perfil Lucas">
          </div>
        </figure>
        <figure class="hexagon hexagon-background">
          <div class="inner">
          </div>
        </figure>
        <figure class="hexagon hexagon-background-dark">
          <div class="inner">
          </div>
        </figure>
      </section>
      <h2 class="name">Lucas Oliveira <strong>Andrade</strong></h2>
      <h3 class="job-titles" style="margin-bottom: 0px;">
        Analista de Testes/QA
      </h3>
      <h3 class="job-titles">
        Centers Junior 4
      </h3>
      <section class="icon-title">
        <div class="hexagon-icon">
          <i class="fa fa-file-text"></i>
        </div>
        <h3>Perfil</h3>
      </section>
      <section class="info-content">
        <ul>
          <li><strong>Nome Completo: </strong>Lucas Henrique de Oliveira Andrade</li>
          <li><strong>Idade: </strong>26 anos</li>
          <li><strong>Escolaridade: </strong>Superior Cursando (Engenharia Elétrica - UFU)</li>
        </ul>
      </section>
      <section class="icon-title toggle-title">
        <div class="hexagon-icon">
          <i class="fa fa-user"></i>
        </div>
        <h3>Contato</h3>
        <a href="javascript:void(0)" class="do-toggle"><i class="fa fa-chevron-down"></i></a>
      </section>
      <section class="info-content">
        <ul class="list-icons">
          <!-- <li>
            <div class="hexagon-icon-fill-small">
              <i class="fa fa-map-marker"></i>
            </div>
            <p> Ciudad de Guatemala
            </p>
          </li> -->
          <li>
            <div class="hexagon-icon-fill-small">
              <i class="fa fa-phone"></i>
            </div>
            <p>
              <a href="tel:5534998601110">(34) 99860-1110 </a>
            </p>
          </li>
          <li>
            <div class="hexagon-icon-fill-small">
              <i class="fa fa-envelope"></i>
            </div>
            <p> <a href="mailto:lucas.oliveira.andrade@everis.com">lucas.oliveira.andrade@everis.com</a>
            </p>
          </li>

          <li>
            <div class="hexagon-icon-fill-small">
              <i class="fa fa-linkedin-square"></i>
            </div>
            <p> <a target="_blank" href="https://www.linkedin.com/in/lucas5990/">in/lucas5990</a>
            </p>
          </li>
          <li>
            <div class="hexagon-icon-fill-small">
              <i class="fa fa-github"></i>
            </div>
            <p> <a target="_blank" href="https://github.com/Lucas5990">Lucas5990</a>
            </p>
          </li>
        </ul>
      </section>
      <!-- <section class="icon-title toggle-title">
        <div class="hexagon-icon">
          <i class="fa fa-code"></i>
        </div>
        <h3>Habilidades Front-End</h3><a href="javascript:void(0)" class="do-toggle"><i class="fa fa-chevron-down"></i></a>
      </section>
      <section class="info-content">
        <ul class="list-skills">
          <li>HTML5</li>
          <li>CSS3</li>
          <li>SASS + Compass</li>
          <li>Stylus + Nib</li>
          <li>JavaScript / jQuery</li>
          <li>Modernizr</li>
          <li>GSAP</li>
          <li>Responsive Web Design</li>
          <li>Foundation, Bootstrap</li>
          <li>Viewport Units</li>
          <li>Hardware Aceleration</li>
          <li>Photoshop</li>
          <li>BrowserStack</li>
          <li>Bower</li>
          <li>Grunt</li>
          <li>OSX / Windows</li>
        </ul>
      </section>
      <section class="icon-title toggle-title">
        <div class="hexagon-icon">
          <i class="fa fa-code-fork"></i>
        </div>
        <h3>Habilidades Back-End</h3>
        <a href="javascript:void(0)" class="do-toggle"><i class="fa fa-chevron-down"></i></a>
      </section>
      <section class="info-content">
        <ul class="list-skills">
          <li>PHP</li>
          <li>MySQL</li>
          <li>Wordpress</li>
          <li>Java</li>
          <li>JavaFX</li>
          <li>Hibernate</li>
          <li>C#</li>
          <li>VB .NET</li>
          <li>ASP .NET</li>
          <li>ADO .NET</li>
          <li>SQL Server</li>
          <li>WPF</li>
          <li>Vagrant</li>
          <li>Git</li>
          <li>Apache</li>
          <li>NGINX</li>
          <li>OSX / Ubuntu</li>
        </ul>
      </section>
      <section class="icon-title toggle-title">
        <div class="hexagon-icon">
          <i class="fa fa-gamepad"></i>
        </div>
        <h3>Hobbies</h3>
        <a href="javascript:void(0)" class="do-toggle"><i class="fa fa-chevron-down"></i></a>
      </section>
      <section class="info-content">
        <ul class="list-skills">
          <li>Beisbol</li>
          <li>Pintura</li>
          <li>Ajedrez</li>
          <li>Videojuegos PC</li>
          <li>Lectura</li>
        </ul>
      </section> -->
    </section>
    <section id="right-side" class="large-8 medium-7 small-12 left" data-equalizer-watch>

      <section class="everis-logo">
        <img id="everis-logo" src="img/everis-logo.png" alt="everis logo" />
      </section>
      <section class="icon-title toggle-title">
        <div class="hexagon-icon">
          <i class="fa fa-briefcase"></i>
        </div>
        <h3>CARREIRA NA EVERIS</h3>
        <a href="javascript:void(0)" class="do-toggle"><i class="fa fa-chevron-down"></i></a>
      </section>
      <section class="info-content">
        <ul class="list-experience">
          <li><label>HISTÓRICO NA EMPRESA</label>
            <p>
              </br>
              <strong>Centers Junior:</strong> Ingressei na empresa após participação na 2ª Beca de Testes de 2020 para atuar no projeto MAPFRE Expansão. <br />Atualmente estou atuando no projeto Santander Obsolescência IBPJ como automatizador de testes. </br><span>JUL 2020 - ATUALMENTE </span>
            </p>
          </li>
          <li><label>Plano de Ação: </label><a target="_blank" href="https://trello.com/b/cULVAfDU/plano-de-a%C3%A7%C3%A3o-lucas-oliveira-andrade"> Trello <i class="fa fa-external-link"></i></a></li>

        </ul>

      </section>
      <hr>
      <section class="icon-title toggle-title">
        <div class="hexagon-icon">
          <i class="fa fa-bug"></i>
        </div>
        <h3>QUALIDADE DE SOFTWARE</h3>
        <a href="javascript:void(0)" class="do-toggle"><i class="fa fa-chevron-down"></i></a>
      </section>
      <section class="info-content">
        <ul class="list-experience">
          <li><label>Lista de Habilidades: </label>
            <a v-if="!listOne" target="_blank" @click="showListOne"> Mostrar <i class="fa fa-caret-down"></i></a>
            <a v-if="listOne" target="_blank" @click="hideListOne"> Esconder <i class="fa fa-caret-up"></i></a>
          </li>
          <div v-if="listOne">
            <ul>
              <li class="skill-list-item">Metodologia Scrum e quadro Kanban (Certificado pela CertiProf);</li>
              <li class="skill-list-item">Levantamento e Modelagem (Mapeamento) de Casos de Teste utilizando Microsoft Excel;</li>
              <li class="skill-list-item">Execução manual de Casos de Teste e gerenciamento utilizando ferramenta HP ALM Quality Center.</li>
            </ul>
          </div>
        </ul>
      </section>
      <hr>
      <section class="icon-title toggle-title">
        <div class="hexagon-icon">
          <i class="fa fa-code"></i>
        </div>
        <h3>AUTOMAÇÃO DE TESTES</h3>
        <a href="javascript:void(0)" class="do-toggle"><i class="fa fa-chevron-down"></i></a>
      </section>
      <section class="info-content">
        <ul class="list-experience">
          <li><label>Lista de Habilidades: </label>
            <a v-if="!listTwo" target="_blank" @click="showListTwo"> Mostrar <i class="fa fa-caret-down"></i></a>
            <a v-if="listTwo" target="_blank" @click="hideListTwo"> Esconder <i class=" fa fa-caret-up"></i></a>
          </li>
          <div v-if="listTwo">
            <ul>
              <li class="skill-list-item">Trabalhando atualmente com as tecnologias: Node.js/Taiko/Gauge(BDD);</li>
              <li class="skill-list-item">Bom domínio da stack Java/jUnit/Selenium WebDriver/Cucumber/Eclipse IDE;</li>
              <li class="skill-list-item">Bom domínio de tecnologias Web Front-End: HTML, CSS e JavaScript.</li>
              <!-- <li class="skill-list-item">Bom domínio da linguagem Java</li> -->
              <!-- <li class="skill-list-item">Experiência profissional com linguagem Python utilizando framework Django;</li> -->
              <!-- <li class="skill-list-item">Conhecimento de Framework JavaScript Vue.js;</li> -->
              <!-- <li class="skill-list-item">Conhecimento de alguns Frameworks CSS: Bootstrap, Semantic.ui.</li> -->
            </ul>
          </div>
        </ul>
      </section>
      <hr>
      <section class="icon-title toggle-title">
        <div class="hexagon-icon">
          <i class="fa fa-trophy"></i>
        </div>
        <h3>CERTIFICADOS E CERTIFICAÇÕES</h3>
        <a href="javascript:void(0)" class="do-toggle"><i class="fa fa-chevron-down"></i></a>
      </section>
      <section class="info-content">
        <ul class="list-experience">
          <li><label>Certificados (everis): </label><a target="_blank" href="https://photos.app.goo.gl/h1yXdSYgs97as4dq9"> Google Fotos <i class="fa fa-external-link"></i></a></li>
          <li><label>OUTROS CERTIFICADOS: </label><a target="_blank" href="https://photos.app.goo.gl/dt5u899KooAx7d3A6"> Google Fotos <i class="fa fa-external-link"></i></a></li>
          <li><label>Certificações (BSTQB/ISTQB): </label><a href="#"> Nenhuma até o momento</a></li>
        </ul>
      </section>
      <hr>
      <!-- <section class="icon-title toggle-title">
        <div class="hexagon-icon">
          <i class="fa fa-book"></i>
        </div>
        <h3>ESTUDOS</h3>
        <a href="javascript:void(0)" class="do-toggle"><i class="fa fa-chevron-down"></i></a>
      </section>
      <section class="info-content">
        <ul class="list-experience">
          <li><label>Tutoriais Youtube</label><a target="_blank" href="https://www.youtube.com/playlist?list=PLv6FsfDQOOoAX5Z-VOxaCZ8Pei7iI6dBW"> Playlist <i class="fa fa-external-link"></i></a></li>
        </ul>
      </section>
      <hr> -->
      <section class="icon-title toggle-title">
        <div class="hexagon-icon">
          <i class="fa fa-calendar"></i>
        </div>
        <h3>PARTICIPAÇÃO EM EVENTOS</h3>
        <a href="javascript:void(0)" class="do-toggle"><i class="fa fa-chevron-down"></i></a>
      </section>
      <section class="info-content">
        <ul class="list-experience">
          <li><label>Lista de Eventos: </label>
            <a v-if="!listThree" target="_blank" @click="showListThree"> Mostrar <i class="fa fa-caret-down"></i></a>
            <a v-if="listThree" target="_blank" @click="hideListThree"> Esconder <i class=" fa fa-caret-up"></i></a>
          </li>
          <div v-if="listThree">
            <ul>
              <li class="skill-list-item"><span class="event-date">18/01/2021 - 21/01/2021</span> Semana do Teste Web Iterasys</li>
            </ul>
          </div>
        </ul>
      </section>
      <hr>
      <section class="icon-title toggle-title">
        <div class="hexagon-icon">
          <i class="fa fa-comment-o"></i>
        </div>
        <h3>DEPOIMENTOS E FEEDBACKS</h3>
        <a href="javascript:void(0)" class="do-toggle"><i class="fa fa-chevron-down"></i></a>
      </section>
      <section class="info-content">
        <ul class="list-experience">
          <p style="margin-bottom: 0px;">Já trabalhou ou trabalha comigo atualmente?</p>
          <a class="highlight-link" target="_blank" href="http://freesuggestionbox.com/pub/bvvyliq">Clique aqui</a>
          <p style="margin-bottom: 0px; display: inline;">para deixar um comentário/feedback.</p>
          <p>Será de grande contribuição para minha avaliação na empresa e também autoavaliação. <b>Obrigado!</b></p>
        </ul>
      </section>
      <!-- <div id="depo">
        <div>
          <i>"O Lucas é legal e bonito legal e bonito legal e bonito legal e bonito legal e bonito legal e bonito legal e bonito legal e bonito legal e bonito legal e bonito legal e bonito legal e bonito legal e bonito legal e bonito legal e bonito legal e bonito legal e bonito legal e bonitolegal e bonitolegal e bonito."</i>
        </div>
        <div id="depo-author">
          <b>- Lucas Andrade, Analista de Testes na Everis</b>
        </div>
      </div> -->
    </section>
  </main>

  <!-- JavaScript Externo -->

  <script src="./js/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.3.1/trianglify.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation/foundation.equalizer.js"></script>
  <script src="./js/foundation.js"></script>
  <script>
    const vue = new Vue({
      el: "#right-side",
      data: {
        listOne: false,
        listTwo: false,
        listThree: false,
      },
      methods: {
        showListOne() {
          this.listOne = true;
        },
        hideListOne() {
          this.listOne = false;
        },
        showListTwo() {
          this.listTwo = true;
        },
        hideListTwo() {
          this.listTwo = false;
        },
        showListThree() {
          this.listThree = true;
        },
        hideListThree() {
          this.listThree = false;
        }
      }
    })
  </script>

</body>

</html>